* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.taskContainer {
  margin: 15px auto;
  background: #eee;
  max-width: 80%;
  min-height: 80vh;
  box-shadow: 0px 0px 2px black;
}

header {
  width: 100%;
  height: 50px;
  background: #222;

  .title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Sans-serif,Courier New', Courier, monospace;
  }

}

.task-field {
  margin-left: 20.5%;
  margin-top: 2rem;
  width: 500px;
  height: 33px;
  outline: none;
  text-align: center;
}


.addTask-btn {
  height: 32px;
  width: 120px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border: none;
  font-family: 'Sans-serif,Courier New', Courier, monospace;
  background: royalblue;
  position: absolute;
  top: 97px;
  left: 66.7%;


}

.updateTask-btn {
  height: 32px;
  width: 130px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  font-family: 'Sans-serif,Courier New', Courier, monospace;
  background: royalblue;
  position: absolute;
  top: 97px;
  left: 64.5%;
  display: none;
}

.addTask-btn:hover {
  background: steelblue;
}

.updateTask-btn:hover {
  background: steelblue;
}

.clearTask-btn {
  height: 32px;
  width: 130px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  font-family: 'Sans-serif,Courier New', Courier, monospace;
  background: red;
  position: absolute;
  top: 97px;
  left: 15.94%;
}

.lists {
  width: 70%;
  margin-top: 15px;
  margin-left: 10%;

  overflow-x: hidden;

  .list {
    font-family: 'Sans-serif,Courier New', Courier, monospace;
    text-align: right;

    .delete {
      margin-left: 15px;
      width: 40px;
      height: 20px;
      background: black;
      color: red;
      border: none;
      outline: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;

    }

    .update {
      margin-left: 20px;
      width: 40px;
      height: 20px;
      background: black;
      color: gold;
      border: none;
      outline: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
    }


  }
}